*.swp
__pycache__
.pytest_cache
*.egg-info

# pyenv
.python-version

# Environment
.env
.venv
node_modules
.vscode
.aws-sam

# macOS
.DS_Store

# CDK asset staging directory
.cdk.staging
cdk.out
my-notes.md
tmp

backend/lambda_layer/*/.cache
backend/lambda_layer/*/.local
