# python3 -m pip install --upgrade pip
# python3 -m pip install pip-tools
# python3 -m piptools compile --quiet requirements.in
# python3 -m piptools sync

# pip
# botocore
# boto3
attrs
# certifi
# chardet
dictdiffer
#greenlet
idna
importlib-metadata
jmespath
jsonschema

psycopg[binary]
psycopg-pool

python-dateutil
pytz
# pytz==2024.1

requests
# s3transfer
six
typing-extensions
urllib3
# wget
# zipp
#jsonpickle

aws-xray-sdk
# aws_xray_sdk==2.12.1


SQLAlchemy==2.0.28
jsonref
# SQLAlchemy (2.0.36) ### pip-ERROR: poetry 1.5.1 requires urllib3<2.0.0,>=1.26.0, but you have urllib3 2.2.3 which is incompatible.
flatten-dict==0.4.2
### EoF
