[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"psycopg[binary]" = "*"
regex = "*"
"aws-lambda-powertools[tracer]" = "*"
attrs = "*"
dictdiffer = "*"
idna = "*"
importlib-metadata = "*"
jmespath = "*"
jsonschema = "*"
psycopg = {extras = ["binary"], version = "*"}
psycopg-pool = "*"
python-dateutil = "*"
pytz = "*"
requests = "*"
six = "*"
typing-extensions = "*"
urllib3 = "*"
aws-xray-sdk = "*"
sqlalchemy = "==2.0.28"
pyyaml = "*"
pandas = "*"
openpyxl = "==3.1.5"
flatten-dict = "*"
jsonref = "==1.1.0"

[dev-packages]

[requires]
python_version = "3.12"
